<!-- Navigation -->
<nav class="navbar navbar-white">
  <div class="navbar-wrapper">
    <a href="/index.html" class="navbar-brand">
      <img src="/images/debtcat-logo-inverse.svg" loading="lazy" width="70" height="Auto" alt="DebtCat logo">
    </a>
    <button class="menu-button" aria-label="Toggle navigation menu">
      <div class="menu-icon">
        <span></span>
      </div>
    </button>
    <ul class="nav-menu">
      <li><a href="/start-dispute.html" class="nav-link">Dispute</a></li>
      <li><a href="/chat.html" class="nav-link">Chat</a></li>
      <li><a href="/articles.html" class="nav-link">Guides</a></li>
      <li><a href="/s/about.html" class="nav-link">About Us</a></li>
    </ul>
  </div>
</nav>
