:root {
  --primary-white: #fefeff;
  --montserrat: Montserrat, sans-serif;
  --primary-black: #1a1a1e;
  --roboto: Roboto, sans-serif;
  --secondary-yellow: #cbf84c;
  --primary-blue: #3358ef;
  --tertiary-green: #1dc939;
  --tertiary-red: #da0f0f;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-users-userformpagewrap {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 340px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.w-users-userloginformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userformbutton {
  text-align: center;
  width: 100%;
}

.w-users-userformfooter {
  justify-content: space-between;
  margin-top: 12px;
  display: flex;
}

.w-users-userformerrorstate {
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
}

.w-users-usersignupformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformsuccessstate {
  display: none;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-users-usersignupverificationmessage {
  display: none;
}

.w-users-userresetpasswordformwrapper, .w-users-userupdatepasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-useraccountwrapper {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.w-users-blockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-users-blockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 20px;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  color: #333;
  background-color: #d3d3d3;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--primary-white);
  font-family: var(--montserrat);
  color: var(--primary-black);
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: underline;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
  font-style: italic;
}

.article-card {
  aspect-ratio: auto;
  background-color: var(--primary-white);
  object-fit: fill;
  border: 3px solid #000;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  min-height: 0;
  text-decoration: none;
  display: flex;
  overflow: hidden;
  box-shadow: 4px 4px #000;
}

.article-card:hover {
  background-color: #e9f5e5;
}

.article-card:active {
  box-shadow: none;
}

.vectors-wrapper {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  text-decoration: none;
  display: block;
}

.text-container {
  grid-row-gap: 12px;
  background-color: #0000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 16px;
  text-decoration: none;
  display: flex;
}

.catgeory-pill {
  background-color: #d1d8fb;
  border-radius: 20px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0;
  padding: 4px 10px;
  text-decoration: none;
  display: inline-block;
}

.text {
  color: var(--primary-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  text-decoration: none;
}

.card-title {
  color: var(--primary-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  text-decoration: none;
}

.card-description {
  color: var(--primary-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
}

.card-more {
  color: var(--primary-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
}

.body {
  background-color: #f0f0f0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: visible;
}

.h1-roboto {
  font-family: var(--roboto);
  color: #fff;
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  line-height: 130%;
}

.h1-roboto.text-white {
  color: var(--primary-white);
}

.h2-roboto {
  font-family: var(--roboto);
  color: var(--primary-black);
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
}

.h3-roboto {
  font-family: var(--roboto);
  color: var(--primary-black);
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 130%;
}

.h4-roboto {
  font-family: var(--roboto);
  color: var(--primary-black);
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}

.h4-roboto.text-white {
  color: var(--primary-white);
}

.h5-roboto {
  font-family: var(--roboto);
  color: var(--primary-black);
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%;
}

.h6-roboto {
  font-family: var(--roboto);
  color: var(--primary-black);
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}

.text-body {
  font-family: var(--roboto);
  color: var(--primary-black);
  text-align: left;
  margin-bottom: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.text-body.paragraph-list {
  margin-bottom: 10px;
}

.text-technical {
  font-family: var(--roboto);
  color: var(--primary-black);
  margin-bottom: 0;
  font-weight: 400;
  line-height: 150%;
}

.text-technical.article-date {
  margin-bottom: 20px;
}

.text-technical.text-inline {
  display: inline-block;
}

.text-technical.meta-separator {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.text-small {
  font-family: var(--roboto);
  color: var(--primary-black);
  line-height: 150%;
}

.header-section {
  text-align: center;
  background-color: #e0ddd7;
  height: 100%;
  padding-top: 104px;
}

.container {
  padding-left: 70px;
  padding-right: 70px;
}

.social-widget-wrapper {
  width: 223px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  display: block;
}

.spread-word {
  color: #fff9;
  letter-spacing: 0;
  text-transform: uppercase;
  text-shadow: none;
  margin-top: 12px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}

.image-crop {
  height: 260px;
  overflow: hidden;
}

.button {
  float: left;
  color: #fff;
  text-align: center;
  background-color: #3b5eed;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 30%;
  height: 54px;
  margin-left: -1px;
  padding: 4px 29px;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  transition: background-color .3s;
  display: block;
}

.button:hover {
  background-color: #22a88d;
}

.button:active {
  background-color: #209e85;
  box-shadow: inset 0 4px 12px -4px #0000004a;
}

.sign-up-form {
  margin-bottom: 66px;
}

.success-message {
  background-color: #209981;
  border-radius: 2px;
  padding: 20px;
  transition: all .3s;
}

.social-widget {
  float: left;
  width: 100px;
  transition: opacity .3s;
}

.error-message {
  background-color: #5c3245;
  border-radius: 2px;
  padding-bottom: 5px;
}

.field {
  float: left;
  color: #262c46;
  background-color: #ffffffb3;
  border: 0 solid #000;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 70%;
  height: 54px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  transition: box-shadow .15s;
  box-shadow: inset 0 0 8px #0000, inset 0 0 0 1px #00000029;
}

.subtitle {
  color: #74737a;
  text-shadow: none;
  margin-bottom: 63px;
  margin-left: 89px;
  margin-right: 89px;
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
}

.heading {
  width: 600px;
  font-family: Merriweather, serif;
  line-height: 69px;
  display: block;
  overflow: visible;
}

.social-section {
  text-align: center;
  background-color: #3b5eed;
  padding-top: 58px;
  padding-bottom: 58px;
}

.footer-section {
  color: #7e7c87;
  background-color: #3f474d;
  padding-top: 38px;
  padding-bottom: 34px;
}

.copyright {
  color: #ffffff85;
}

.align-right {
  text-align: right;
}

.social-btn {
  opacity: .44;
  margin-left: 17px;
}

.heading-7 {
  width: auto;
  margin-left: 0;
  font-family: Merriweather, serif;
  line-height: 69px;
  display: block;
  overflow: visible;
}

.body-2 {
  background-color: #3f474d;
}

.text-field {
  box-sizing: content-box;
  height: 34px;
}

.text-field-2, .text-field-3 {
  box-sizing: content-box;
}

.h1-montserrat {
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 120%;
}

.h1-montserrat.text-white {
  color: var(--primary-white);
  text-transform: capitalize;
}


body.articles-page h1.h1-montserrat.text-center {
  color: var(--primary-white) !important;
  text-transform: capitalize;
}
.h2-montserrat {
  color: var(--primary-black);
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  line-height: 130%;
}

.h3-montserrat {
  color: var(--primary-black);
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.h4-montserrat {
  color: var(--primary-black);
  letter-spacing: normal;
  text-indent: 0;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
}

.section-how-it-works {
  padding-top: 40px;
  padding-bottom: 40px;
}

.button-default {
  border: 3px solid var(--primary-black);
  background-color: var(--primary-white);
  box-shadow: 4px 4px 0 0 var(--primary-black);
  font-family: var(--roboto);
  color: var(--primary-black);
  text-transform: uppercase;
  border-radius: 8px;
  padding: 25px 40px;
  font-size: 24px;
}

.button-default:hover {
  background-color: var(--secondary-yellow);
}

.button-default:active {
  background-color: var(--secondary-yellow);
  box-shadow: none;
}

.button-default.button-small {
  padding: 10px 20px;
  font-size: 16px;
}

.image-container {
  width: 100%;
  max-width: 100%;
}

.image {
  width: 100%;
}

.status-default-property-1-default {
  grid-column-gap: 10px;
  background-color: #fefeff;
  border: 2px solid #1a1a1e;
  border-radius: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  text-decoration: none;
  display: flex;
  box-shadow: 3px 3px #000;
}

.button-text {
  color: var(--primary-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-decoration: none;
}

.button-wrapper-inside {
  grid-column-gap: 10px;
  grid-row-gap: 16px;
  border: 2px solid var(--primary-black);
  background-color: var(--primary-white);
  color: var(--primary-black);
  text-align: center;
  text-transform: uppercase;
  border-radius: 8px;
  flex: 0 auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 3px 3px #000;
}

.button-wrapper-inside:hover {
  background-color: var(--secondary-yellow);
}

.button-wrapper-inside:active {
  box-shadow: none;
}

.button-wrapper-inside.special {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.status-hover {
  grid-column-gap: 10px;
  background-color: #cbf84c;
  border: 2px solid #1a1a1e;
  border-radius: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  text-decoration: none;
  display: flex;
  box-shadow: 3px 3px #000;
}

.status-focused {
  grid-column-gap: 10px;
  background-color: #cbf84c;
  border: 2px solid #1a1a1e;
  border-radius: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  text-decoration: none;
  display: flex;
}

.status-disabled {
  grid-column-gap: 10px;
  background-color: #ced4da;
  border: 2px solid #adb5bd;
  border-radius: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  text-decoration: none;
  display: flex;
  box-shadow: 3px 3px #adb5bd;
}

.navbar {
  width: 100%;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar.navbar-white {
  background-color: var(--primary-white);
}

.navbar-no-shadow-container {
  z-index: 5;
  background-color: #0000;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #1a1b1fbf;
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link.h4-montserrat-navbar {
  font-family: var(--montserrat);
  color: var(--primary-white);
  white-space: nowrap;
  word-break: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

  .nav-link.h4-montserrat-navbar:hover {
    color: #CBF84C;
    text-decoration: underline;
  }

.nav-link.h4-montserrat-navbar.nav-link-inverse {
  color: var(--primary-white);
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: #1a1b1fbf;
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.logo-header {
  width: 200px;
}

.container-body {
  background-color: var(--primary-white);
  background-image: url('../images/gradient-bcg-desktop.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 100%;
  max-width: 1440px;
  min-height: 600px;
  display: block;
}

.container-body.container-body-inverse {
  background-image: url('../images/gradient-line-bcg-desktop.png');
}

.paragraph {
  color: var(--primary-white);
  font-size: 20px;
}

.section-intro {
  padding-top: 20px;
  padding-bottom: 60px;
  padding-right: 100px;
}

.section-articles {
  border-top: 1px #ccc;
  padding-top: 20px;
  padding-bottom: 40px;
}

.footer {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  border-bottom: 1px solid #e4ebf3;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 40px;
  padding: 50px 30px 40px;
  display: block;
  position: relative;
}

.footer.footer-chat {
  display: none;
}

.container-2 {
  font-family: var(--roboto);
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-form-two {
  background-color: #f5f7fa;
  margin-bottom: 40px;
  padding: 64px;
}

.footer-form-container-two {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-form-title {
  font-size: 24px;
  line-height: 32px;
}

.footer-form-block-two {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: relative;
}

.footer-form-input {
  border: 1px #000;
  width: 460px;
  height: 48px;
  margin-bottom: 0;
  padding: 12px 180px 12px 20px;
}

.footer-form-input::placeholder {
  color: #1a1b1fcc;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.button-primary-2.footer-form-button {
  padding: 8px 18px;
  position: absolute;
  right: 8px;
}

.footer-wrapper-three {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-block-three {
  justify-content: flex-start;
  align-items: center;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
}

.footer-link-three {
  color: var(--primary-white);
  white-space: nowrap;
  word-break: normal;
  overflow-wrap: normal;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.footer-link-three:hover {
  color: var(--primary-white);
  text-decoration: underline;
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-left: -32px;
  display: flex;
}

.footer-social-link {
  margin-left: 32px;
  text-decoration: none;
}

.footer-divider-two {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: var(--primary-white);
}

.footer-legal-block {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer-legal-link {
  color: var(--primary-white);
  margin-left: 24px;
  text-decoration: none;
}

.footer-legal-link:hover {
  color: var(--primary-white);
  text-decoration: underline;
}

.section-faq {
  color: var(--primary-black);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-typography {
  margin-top: 100px;
}

.article-columns {
  padding-top: 10px;
  display: flex;
}

.how-columns {
  text-align: left;
  padding-top: 20px;
}

.icon-2.accordion-icon {
  color: var(--primary-black);
  cursor: pointer;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.accordion-wrapper {
  margin-top: 50px;
}

.section-faq-2 {
  background-color: #f8f8f8;
  padding: 150px 30px;
}

.accordion-item-trigger {
  border-bottom: 1px solid var(--primary-black);
  font-family: var(--roboto);
  text-align: left;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10px;
  display: flex;
}

.accordion-heading {
  font-family: var(--roboto);
  cursor: pointer;
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 30px;
}

.header-center-box {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header-center-box._75 {
  width: 75%;
}

.text-center {
  text-align: center;
}

.content-wrapper {
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper.slim {
  max-width: 940px;
}

.accordion-item-content {
  margin-top: 10px;
  margin-right: 30px;
  overflow: hidden;
}

.accordion-item {
  background-color: var(--primary-white);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px 0 0;
}

.paragraph-2 {
  font-family: var(--roboto);
  color: var(--primary-black);
  font-size: 16px;
  line-height: 150%;
}

.intro-button-container {
  margin-top: 0;
  padding-top: 10px;
}

.content-container {
  width: 100%;
  min-height: 600px;
}

.intro-image-container {
  justify-content: center;
  padding-bottom: 20px;
  display: flex;
}

.chat-bubble-icon {
  height: 80px;
  margin-left: -10px;
}

.chat-bubble-icon.options-icon {
  margin-bottom: 10px;
}

.personalized-education-icon {
  margin-right: -10px;
}

.take-action-icon {
  height: 80px;
  margin-right: -10px;
}

.take-action-icon.options-icon {
  margin-bottom: 10px;
}

.how-button-container {
  justify-content: center;
  padding-top: 40px;
  display: flex;
}

.article-card-link {
  text-decoration: none;
}

.body-3 {
  background-color: #f0f0f0;
}

.bold-text {
  font-weight: 500;
}

.nav {
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  display: flex;
}

.dc-logo {
  width: 200px;
}

.hamburger-menu {
  width: 30px;
}

.download-icon {
  width: 80px;
  max-width: 80%;
  max-height: 80px;
}

.download-success {
  text-align: center;
  flex: 0 auto;
  align-self: center;
  max-width: 300px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.cta-downloaded-file {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px 20px;
  display: flex;
}

.instructions {
  text-align: center;
  background-color: #0000;
  justify-content: center;
  align-items: center;
  padding: 0 20px 20px;
  display: flex;
}

.paragraph-3 {
  font-family: var(--roboto);
  text-align: center;
  max-width: 320px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.italic-text, .italic-text-2, .italic-text-3, .italic-text-4 {
  font-style: normal;
}

.italic-text-5 {
  font-style: normal;
  text-decoration: none;
}

.italic-text-6 {
  font-style: normal;
}

.container-3 {
  background-color: var(--primary-white);
  background-image: url('../images/body-bg-gradient.png');
  background-position: 40% 0;
  background-repeat: repeat-x;
  background-size: contain;
  background-attachment: scroll;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: static;
}

.new-dispute {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: var(--primary-white);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 20px 20px 40px;
  display: flex;
}

.text-block {
  text-align: center;
  max-width: 300px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.body-4 {
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}


.card-container {
  background-color: var(--primary-white);
  border-radius: 20px;
  flex-flow: column;
  align-items: center;
  max-width: 420px;
  padding: 30px 20px 20px;
  display: block;
  box-shadow: 0 2px 5px 2px #0003;
}

.rich-text-block {
  font-size: 14px;
}

.rich-text-block-2 {
  font-family: var(--roboto);
  font-size: 14px;
}

.article-body {
  font-family: var(--roboto);
  padding: 20px 100px;
}

.article-top {
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.rich-text-block-container {
  border-top: 1px solid #ccc;
  margin-top: 40px;
  padding-top: 40px;
}

.rich-text-block {
  font-family: var(--roboto);
}

.rich-text-block p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 150%;
}

.rich-text-block h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  line-height: 130%;
}

.rich-text-block h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
}

.rich-text-block h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 130%;
}

.rich-text-block h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}

.rich-text-block h5 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%;
}

.rich-text-block h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}

.rich-text-block ol {
  font-style: normal;
}

.rich-text-block a {
  color: var(--primary-blue);
}

.rich-text-block ul {
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 150%;
}

.code-embed {
  overflow: auto;
}

.collection-list-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: flex;
}

.collection-list {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.collection-item {
  box-sizing: border-box;
  aspect-ratio: auto;
  object-fit: fill;
  flex: 0 auto;
  width: 100%;
  max-width: 33.333%;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.section-options {
  background-color: var(--primary-white);
  border: 3px solid #000;
  border-radius: 16px;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 40px;
  display: flex;
}

.landing-page-option {
  text-align: center;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: auto;
  padding: 40px;
  display: flex;
}

.option-paragraph {
  margin-top: 10px;
  margin-bottom: 20px;
}

.column-7 {
  object-fit: fill;
}

.article-meta {
  margin-top: 20px;
}

.option-button-container {
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.option-content {
  flex-flow: column;
  flex: 1;
  align-items: center;
  width: 100%;
  display: flex;
}

.text-field-4 {
  min-height: 90px;
}

.related-article {
  max-width: 400px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.related-article.related-in-card {
  border-top: 1px solid #eee;
}

.heading-8 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.heading-8.ty-h4 {
  margin-bottom: 15px;
}

.heading-8.special {
  padding-bottom: 16px;
}

.heading-8.article {
  margin-top: 20px;
  padding-bottom: 20px;
}

.heading-9 {
  color: var(--primary-white);
}

.text-body-container {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.content-image {
  margin-top: 0;
  margin-bottom: 30px;
}

.feedback-form-container {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 40px;
}

.highlight-container {
  background-color: #d1d8fb;
  border: 0 solid #000;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
}

.button-link {
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.image-2 {
  vertical-align: baseline;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  display: block;
}

.paragraph-4 {
  text-align: center;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-center.h3-montserrat {
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 700;
}

.paragraph-5 {
  width: 100%;
}

.thank-you-message {
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 50px;
}

.static-page-card-content {
  border-bottom: 1px solid #eee;
  flex-flow: column;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 40px;
  display: flex;
}

.static-page-card-content.left-aligned-card {
  justify-content: flex-start;
  align-items: flex-start;
}

.thank-you-icon {
  margin-top: 25px;
  margin-bottom: 20px;
}

.bold-text-2 {
  font-weight: 600;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.testimonial-slider-small {
  background-color: #e6e6ea;
  border-bottom: 1px solid #e4ebf3;
  border-radius: 42px;
  padding: 30px;
  position: relative;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
  font-size: 24px;
}

.centered-subheading {
  text-align: center;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-slider {
  background-color: #0000;
  max-width: 800px;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-slide-wrapper {
  max-width: 48%;
  margin-right: 4%;
}

.testimonial-card {
  background-color: #d1d8fb;
  border-radius: 24px;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.testimonial-info {
  align-self: stretch;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.testimonial-image {
  object-fit: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.testimonial-author {
  margin-bottom: 2px;
  font-size: 18px;
}

.tagline {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
}

.testimonial-icon-wrapper {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

.testimonial-slider-left {
  justify-content: center;
  align-items: center;
  width: 40px;
  display: flex;
  left: -70px;
}

.testimonial-slider-left:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.testimonial-slider-left[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.slider-arrow-embed {
  color: #1a1b1f;
}

.testimonial-slider-right {
  justify-content: center;
  align-items: center;
  width: 40px;
  display: flex;
  right: -70px;
}

.testimonial-slider-right:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.testimonial-slider-right[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.testimonial-slide-nav {
  display: none;
}

.paragraph-6, .paragraph-7, .paragraph-8, .paragraph-9 {
  font-style: italic;
}

.image-3 {
  opacity: 1;
  mix-blend-mode: multiply;
}

.image-4, .image-5, .image-6 {
  mix-blend-mode: multiply;
}

@media screen and (max-width: 991px) {
  .article-card {
    min-height: 446px;
  }

  .h1-roboto {
    font-size: 28px;
  }

  .h2-roboto {
    font-size: 26px;
  }

  .button {
    width: 30%;
  }

  .field {
    width: 70%;
  }

  .subtitle {
    text-shadow: none;
  }

  .social-btn {
    transition: all .2s;
  }

  .social-btn:hover {
    opacity: .8;
  }

  .h1-montserrat {
    font-size: 46px;
  }

  .h4-montserrat {
    text-transform: capitalize;
    margin-top: 0;
    font-weight: 500;
  }

  .nav-menu-wrapper {
    background-color: #0000;
  }

  .nav-menu {
    background-color: var(--primary-white);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    display: flex;
    border-radius: 8px;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-link.h4-montserrat-navbar {
    color: var(--primary-black);
  }

  .nav-link.h4-montserrat-navbar:hover {
    color: var(--primary-blue);
    text-decoration: underline;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .menu-button {
    padding: 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  .menu-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .menu-button.w--open {
    color: var(--primary-black);
    background-color: transparent;
  }

  .container-body {
    background-position: 0 0;
    background-size: 180%;
  }

.icon,
.w-icon-nav-menu {
  color: var(--primary-white) !important;
  -webkit-text-stroke-color: var(--primary-white) !important;
}

  .icon.navbar-icon-inverse {
    color: var(--primary-black);
  }

  .paragraph {
    color: var(--primary-white);
  }

  .section-intro {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .container-2 {
    max-width: 728px;
  }

  .footer-form-two {
    padding: 40px;
  }

  .footer-form-title {
    margin-right: 15px;
  }

  .footer-form-input {
    width: 400px;
    padding-right: 180px;
  }

  .footer-wrapper-three {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-social-block {
    margin-top: 40px;
  }

  .article-body, .article-top {
    padding-left: 0;
    padding-right: 0;
  }

  .rich-text-block h1 {
    font-size: 28px;
  }

  .rich-text-block h2 {
    font-size: 26px;
  }

  .section-options {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .landing-page-option {
    flex: 0 auto;
    justify-content: space-between;
    height: auto;
    padding: 20px;
  }

  .column-7 {
    height: auto;
  }

  .option-button-container {
    flex-flow: column;
    order: 0;
    align-self: auto;
    align-items: flex-start;
  }

  .option-content {
    flex: 1;
    justify-content: flex-start;
  }

  .heading-8.article {
    font-weight: 600;
  }

  .heading-9 {
    padding-bottom: 10px;
  }

  .text-body-container {
    padding-left: 0;
    padding-right: 0;
  }

  .text-center.h3-montserrat {
    font-size: 23px;
    line-height: 137%;
  }

  .thank-you-message {
    margin-top: -10px;
    margin-bottom: 45px;
  }

  .thank-you-icon {
    margin-bottom: 25px;
  }

  .bold-text-2 {
    font-weight: 500;
  }

  .heading-10 {
    color: var(--primary-white);
  }

  .error-other {
    color: var(--primary-white);
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
  }

  .testimonial-slider-small {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .container-4 {
    max-width: 728px;
  }

  .testimonial-slider-left {
    left: -20px;
  }

  .testimonial-slider-right {
    right: -20px;
  }
}

@media screen and (max-width: 767px) {
  .article-card {
    min-height: 0;
  }

  .h1-roboto {
    font-size: 26px;
  }

  .h2-roboto {
    font-size: 24px;
  }

  .h3-roboto, .h4-roboto {
    font-size: 22px;
  }

  .h5-roboto {
    font-size: 20px;
  }

  .h6-roboto {
    font-size: 18px;
  }

  .header-section {
    padding-top: 37px;
  }

  .container {
    padding-left: 33px;
    padding-right: 33px;
  }

  .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 40%;
  }

  .sign-up-form {
    margin-bottom: 38px;
  }

  .field {
    border-top-right-radius: 0;
    width: 60%;
  }

  .subtitle {
    text-shadow: none;
    margin-left: 0;
    margin-right: 0;
  }

  .social-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .footer-section {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .h1-montserrat, .h1-montserrat.text-white {
    font-size: 34px;
  }

  .h2-montserrat {
    font-size: 28px;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 20px;
    padding-left: 0;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-link.h4-montserrat-navbar {
    display: block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .column {
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  .container-body {
    background-image: url('../images/gradient-bcg-mobile.png');
    background-position: 0 -2%;
    background-size: contain;
  }

  .container-body.container-body-inverse {
    background-image: url('../images/gradient-line-bcg-mobile.png');
    background-position: 0 0;
    background-size: contain;
  }

  .section-intro {
    padding-bottom: 30px;
    padding-right: 0;
  }

  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-form-container-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-form-title {
    margin-right: 0;
  }

  .footer-form-block-two {
    width: 100%;
    margin-top: 20px;
  }

  .footer-form-input {
    width: 100%;
  }

  .footer-block-three {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-link-three {
    margin-bottom: 10px;
  }

  .footer-social-block {
    margin-top: 10px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-legal-block {
    margin-top: 15px;
    margin-left: -24px;
  }

  .footer-legal-link {
    font-size: 14px;
    line-height: 20px;
  }

  .article-columns {
    display: block;
  }

  .accordion-item-content {
    margin-right: 0;
  }

  .content-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .column-2, .column-3 {
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  .column-4, .column-5 {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .column-6 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .card-container {
    max-width: 400px;
  }

  .article-top {
    padding-left: 20px;
    padding-right: 20px;
  }

  .rich-text-block h1 {
    font-size: 26px;
  }

  .rich-text-block h2 {
    font-size: 24px;
  }

  .rich-text-block h3, .rich-text-block h4 {
    font-size: 22px;
  }

  .rich-text-block h5 {
    font-size: 20px;
  }

  .collection-list {
    flex-flow: column;
  }

  .collection-item {
    max-width: none;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  .section-options {
    flex-flow: column;
  }

  .landing-page-option {
    width: 100%;
    padding: 20px;
  }

  .list-item {
    width: 100%;
    display: block;
  }

  .testimonial-slider-small {
    padding: 30px 15px;
  }

  .testimonial-slide-wrapper {
    max-width: 100%;
    margin-right: 0%;
  }

  .testimonial-card {
    margin-left: 10px;
    margin-right: 10px;
  }

  .testimonial-slider-left {
    left: -10px;
  }

  .testimonial-slider-right {
    right: -10px;
  }
}

@media screen and (max-width: 479px) {
  .body {
    padding: 0;
  }

  .h1-roboto, .h1-roboto.text-white {
    font-size: 24px;
  }

  .h2-roboto {
    font-size: 22px;
  }

  .h3-roboto {
    font-size: 21px;
  }

  .h4-roboto, .h4-roboto.text-white {
    font-size: 20px;
  }

  .h5-roboto {
    font-size: 18px;
  }

  .h6-roboto {
    font-size: 16px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .social-widget-wrapper {
    width: 215px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .image-crop {
    height: auto;
    margin-bottom: 40px;
  }

  .button {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 100%;
    margin-left: 0;
  }

  .social-widget {
    width: 97px;
  }

  .field {
    text-align: center;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100%;
  }

  .subtitle {
    text-shadow: none;
    margin-bottom: 44px;
    font-size: 22px;
    line-height: 26px;
  }

  .social-section {
    padding-left: 14px;
    padding-right: 14px;
  }

  .copyright {
    text-align: center;
    margin-bottom: 16px;
  }

  .align-right {
    text-align: center;
  }

  .social-btn {
    margin-right: 17px;
  }

  .h4-montserrat {
    text-align: center;
  }

  .button-wrapper-inside {
    text-align: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .button-wrapper-inside.special {
    width: 90%;
  }

  .navbar {
    z-index: 999;
    position: relative;
  }

  .navbar-no-shadow-container {
    padding: 10px 10px 10px 20px;
  }

  .navbar-wrapper, .nav-menu-wrapper {
    z-index: 999;
  }

  .nav-menu {
    z-index: 999;
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .logo-header {
    width: 150px;
  }

  .container-body {
    background-position: 0 0;
    background-size: auto 480px;
  }

  .container-body.container-body-inverse {
    background-position: 0 90px;
  }

  .section-intro {
    padding-bottom: 20px;
  }

  .container-2 {
    max-width: none;
  }

  .footer-form-two {
    padding: 20px;
  }

  .footer-form-block-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-form-input {
    margin-bottom: 10px;
    padding-right: 20px;
  }

  .button-primary-2.footer-form-button {
    position: relative;
    right: 0;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .section-faq-2 {
    padding: 100px 15px;
  }

  .header-center-box._75 {
    width: 90%;
  }

  .nav {
    padding: 20px;
  }

  .paragraph-3 {
    max-width: 300px;
  }

  .text-block {
    text-align: center;
  }

  .card-container {
    max-width: 260px;
  }

  .rich-text-block h1 {
    font-size: 24px;
  }

  .rich-text-block h2 {
    font-size: 22px;
  }

  .rich-text-block h3 {
    font-size: 21px;
  }

  .rich-text-block h4 {
    font-size: 20px;
  }

  .rich-text-block h5 {
    font-size: 18px;
  }

  .rich-text-block h6 {
    font-size: 16px;
  }

  .container-4 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .testimonial-slide-wrapper {
    max-width: 100%;
    margin-right: 0%;
  }

  .testimonial-card {
    margin-left: 10px;
    margin-right: 10px;
  }

  .testimonial-slider-left {
    left: -10px;
  }

  .testimonial-slider-right {
    right: -10px;
  }
}
